@import "../../variables";

.TScreateToDo {
    padding-bottom: 10px;
    &.editing{
        display: none;
    }
    .createBtnWrapper {
        padding: 10px;
        @include synergy-round-corners(5px);
        text-align: center;
        border: 1px dashed #999999;
        font-size: 12px;
    }

    .toDoWrapper {
        @include synergy-round-corners(3px);
        margin-bottom: 10px 15px 10px 20px;
        padding: 10px;
        background: #fff;
        position: relative;

        .toDoIndicator {
            position: absolute;
            width: 5px;
            top: 0px;
            left: 0px;
            bottom: 0px;
            background: $task-pill-color;
            @include synergy-round-corners(5px);
        }


        input {
            width: 100%;
            font-weight: bold;
            display: block;
            border: 1px dashed #DDDDDD;
            @include synergy-round-corners(5px);
            outline: none;
            font-size: 12px;
        }
    }
}