<div class="TScreateToDo">
  <ng-container *ngIf="!create && !creating">
      <div class="createBtnWrapper clickAble"
           (click)="startCreateToDo()">
          + ToDo
      </div>
  </ng-container>
  <ng-container *ngIf="create && !creating">
      <div class="toDoWrapper">
          <span class="toDoIndicator"></span>
          <form id="todo-form" (ngSubmit)="savingToDo(input)" autocomplete="off">
            <input id="newToDoSubject" #input>
        </form>

      </div>
  </ng-container>
</div>